$white: #FFFFFF;
$main-bg-color: #1A1B21;
$charcoal-background: #23252C;
$footer-bg-color: #161619;
$title-font-color: #F3BF99;
$off-white: #F5F5F5;
$paragraph-text-color: #DCDCDC;
$gray-300: #D1D5DB;
$gray-700: #374151;
$linkedin-blue: #5093E2;
$footer-icon-fill: #918E9B;