@import 'resets', 'variables', 'mixins';

body {
    background-color: $charcoal-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Inter, sans-serif;
    padding: 44px;
}

.profile-info {
    width: 317px;
    border-radius: 10px 10px 0px 0px;
    background-color: $main-bg-color;

    .header-logo {
        width: 250px;
        padding: 35px;
    }

    .name {
        color: $white;
        font-size: 25px;
        font-weight: 700;
        margin-top: 10px;
    }

    .title {
        color: $title-font-color;
        font-size: 12.8px;
        font-weight: 400;
        margin-top: 6.19px;
    }

    .website-link {
        margin-top: 6.81px;

        a {
            color: $off-white;
            text-decoration: none;
            font-size: 10.24px;
            font-weight: 400;
            line-height: 150%;
            /* 15.36px */
        }
    }

    .profile-buttons {
        display: flex;
        justify-content: center;
        gap: 17px;
        margin-top: 15px;

        a {
            text-decoration: none;
        }

        .email {
            background-color: $white;
            color: $gray-700;
            border: 1px solid $gray-300;
            @include button-layout;
            @include button-text;

            img {
                height: 16px;
                width: 16px;
            }
        }

        .linkedin {
            background-color: $linkedin-blue;
            color: $white;
            @include button-layout;
            @include button-text;

            img {
                height: 16px;
                width: 16px;
            }
        }
    }

}

.personal-info {
    width: 317px;
    text-align: left;
    background-color: $main-bg-color;
    padding: 33px 0 24px;

    h2 {
        width: 78%;
        margin: auto;
        color: $off-white;
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
        /* 24px */
    }

    p {
        width: 78%;
        margin: auto;
        color: $paragraph-text-color;
        font-size: 10.24px;
        font-weight: 400;
        line-height: 150%;
        /* 15.36px */
    }
}

.footer {
    width: 317px;
    height: 64px;
    border-radius: 0px 0px 10px 10px;
    background-color: $footer-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    img {
        height: 25px;
        width: 25px;
        filter: invert(100%) grayscale(100%) brightness(1.3);

        &:nth-child(1) {
            background-color: $footer-icon-fill;
            border-radius: 3px;
        }

        &:last-child {
            height: 26px;
            width: 26px;
        }
    }
}